nav {
  border: none !important; /* kill Pico's dashed default */
  border-bottom: 2px solid #999 !important; /* solid custom line */
  padding-bottom: 0.75rem; /* adds space below links */
  margin-bottom: 1rem;
  box-shadow: none !important;
}

header {
  border-bottom: none !important;
  box-shadow: none !important;
	background-color: #5a6a70; /* pastel Payne’s grey */
  color: #fdf9f3; /* off-white text */
  padding: 1.5rem 2rem;
}

nav ul li a {
  background-color: rgba(150, 150, 150, 0.1); /* light grey, transparent */
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
	color: #fdf9f3;
}

nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
