---
layout: layouts/base.njk
---
<section class="intro-block" style="margin-bottom: 2rem;">
  <h1>Welcome to BetaBiome</h1>
  <p style="max-width: 600px;">
    This site explores the intersection of data, ecology, and impact. Browse posts, explore analytics, or get in touch.
  </p>
</section>



{{ content | safe }}
