---
layout: layouts/base.njk
---
<section class="intro-block" style="margin-bottom: 2rem;">
  <h1>Welcome to BetaBiome</h1>
  <p style="max-width: 600px;">
    We work at the messy intersection of data, policy, and the environment. Using analytical tools, we're trying to better understand the world around us - how people think, how systems behave, and how both might be improved.  
  </p>
  <p style="max-width: 600px;">
		This site is a home for side projects and experiments. Where possible, we make everything replicable - full code and documentation is available on GitHub.
	</p>
</section>



{{ content | safe }}
